.usa {
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu imag usuario"
}

.usuario {
    grid-area: usuario;
}

.imag {
    grid-area: imag;
}

.datos {
    grid-area: datos;
}

.usa img {
    max-width: 100%;
    height: auto;
}

.user-menu {
    position: relative;
    display: inline-block;
    background-color: blanchedalmond;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-picture {
    background-color: blanchedalmond;
    max-width: 10%;
    height: auto;
    border-radius: 20%;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
}

.dropdown-content a p {
    color: #000000;
    padding: 16px 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown-content a i {
    margin-right: 10px;
}

.username {
    color: #000000;
}

body {
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
}

.main-header {
    width: 100%;
    height: 50px;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    top: 50px;
    height: calc(100vh - 50px);
    background: blanchedalmond;
    ;
    transform: translateX(-100%);
    transition: .4s ease;
}

.men li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.men a {
    color: var(--main-color);
    display: block;
    line-height: 3.5;
    padding: 0 10px;
    text-decoration: none;
    transition: .4s ease;
}

.men a:hover {
    transform: translateX(10%);
}

#btn-nav {
    display: none;
}

#btn-nav:checked~nav {
    transform: translateX(0);
}

.btn-nav {
    color: var(--main-color);
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    padding: 6.5px 15px;
    transition: .2s ease;
    background: rgba(0, 0, 0, .1);
}

.btn-nav:hover {
    background: rgba(0, 0, 0, .3);
}

.container {
    display: grid;
    background: transparent;
    grid-template-columns: 1fr 0.7fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "gestion gestion dato"
        "gestion gestion dato"
        "gestion gestion .";
}

.gestion {
    grid-area: gestion;
}

.dato{
    grid-area: dato;
    align-items: center;
    align-self: center;
}
.dato form{
    
    background-color: #00bfff;
}